   <mat-card class="my-card">
     <mat-card-header>
       <mat-card-title>{{recipe.name}}</mat-card-title>
     </mat-card-header>
     <img mat-card-lg-image src="{{recipe.picture}}" alt="Photo of {{recipe.name}}">
     <mat-card-content>
       <h4>Description</h4>
       <p>
         {{recipe.description}}
       </p>
       <div *ngIf="instructionDisplay">
         <h4>Ingredients</h4>
         <ul>
           <li *ngFor="let ingredient of recipe.ingredients">{{ingredient.ingredient.name}}
           </li>
         </ul>
       </div>
     </mat-card-content>
     <mat-card-actions>
       <button mat-flat-button color="primary" (click)="toggleInstructions()">Show More ...</button>
       <button mat-flat-button color="warn" (click)="deleteRecipe()">Delete</button>
       <a [routerLink]="['/recipes', recipe.id]" mat-raised-button>Details</a>

     </mat-card-actions>
   </mat-card>
